body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f0f2f5;
}
.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card h3 {
  margin-top: 0;
  color: #ef2424;
}
.card p{
    color: #4f31be;
}
.error {
  color: red;
  font-weight: bold;
}